/**
 * SYMPHONY FACTORY
 * A design framework for the Symphony Network
 *
 * @link http://symphonycms.github.com/factory/
 * @licence Symphony Community Licence
 *
 * Please add your custom site styling in a separate file.
 */

/*-----------------------------------------------------------------------------
	General definitions:

  # Colours
	
	$network: b20b4f;
	$site: #fbfdfb;
	$pink: #b20b4f;
	
  # Units
	
	Use `rem` for vertical and `px` for horizontal units.
-----------------------------------------------------------------------------*/

html {

	/* This makes 1rem eqal 10px */
	font-size: 62.5%;
}

body {
	background: #fbfdfb;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.3rem;
	font-weight: 400;
	line-height: 2.4rem;
	margin: 0;
	overflow-y: scroll;
	padding: 0;
}

/* Behaviours */

.hidden {
	display: none;
}

.dimmed {
	color: rgba(0, 0, 0, 0.6);
}

/*-----------------------------------------------------------------------------
	Layouts:
	
	There are one kinds of general site layouts: centered and wide.
	The centered layout is the default one and should be used by all
	text focussed sites. The fluid version is conceived for special 
	user interfaces like xPathr that need the full window width.
	
	The centered layout knows three fixed states and a fluid fallback for 
	narrow windows and mobile devices: 
	
	- large (>= 1060px), 
	- medium (>= 854px),
	- small (>= 648px) and 
	- fluid (< 648 px).
	
	If you want to exclude one of these states on your site, just add a 
	`data-exclude-state` attribute with its name on the body element 
	(multiple values need to be space-separated).
-----------------------------------------------------------------------------*/

/* Centered */

.centered {
	margin: 0 auto;
	width: 100%;
}

/* Fluid */

.wide {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0 50px;
	width: 100%;
}

@media all and (max-width: 647px) {

	body:not([data-exclude-state~=fluid]) .centered {
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		padding: 0;
	}

}

/* Small */

@media all and (min-width: 648px) {

	body:not([data-exclude-state~=small]) .centered {
		width: 648px;
	}

}

/* Medium */

@media all and (min-width: 854px) {

	body:not([data-exclude-state~=medium]) .centered {
		width: 854px;
	}

}

/* Large */

@media all and (min-width: 1060px) {

	body:not([data-exclude-state~=large]) .centered {
		width: 1060px;
	}

}

/*-----------------------------------------------------------------------------
	Grids:

	Grid layouts should be grouped in fields. There are one main layout types:
	fields with and without sidebar, see column definitions by function.
-----------------------------------------------------------------------------*/

.field {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	clear: both;
	position: relative;
}

.field::after {
	clear: both;
	content: "";
	display: block;
}

/* Nested fields */

.field .field {
	margin-left: -30px;
	padding-right: 0;
}

/* Justified fields, e. g. fields with a centered border at the bottom or top */

.field.justified {
	margin-left: -10px;
	margin-right: -10px;
}

/*-----------------------------------------------------------------------------
	Columns:

	There are three different categories of columns:
	columns by function, by width and by proportion.

	All columns are floated and it's up to the developer to make sure that
	the column widths sum up to the full page width per row.
	The column widths .three, .four, .five are not meant to display text,
	they should be used for tables and images.
	
	If you'd like to nest columns inside a column, make sure to wrap those
	columns with another .field element.
-----------------------------------------------------------------------------*/

.column {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	margin: 0 0 0 30px;
/*	position: relative;*/
}

.field.justified .column:first-child {
	margin-left: 10px;
}

.module {
	width: 73px;
}

/* Columns by function */

.column.sidebar {
	width: 176px;
}

.column.content {
	float: right;
	width: 794px;
}

/* Columns by width */

.one {
	width: 176px;
}

.two {
	width: 382px;
}

.three {
	width: 588px;
}

.four {
	width: 793px;
}

.five {
	width: 1000px;
}

/**
 * Adjusted column sizes based on the layout mode 
 */

/* Small */

@media all and (min-width: 648px) and (max-width: 853px) {

	.small-one {
		width: 176px;
	}
	
	.small-two {
		width: 382px;
	}
	
	.small-three {
		width: 588px;
	}
	
	.small-four {
		width: 793px;
	}
	
	.small-five {
		width: 1000px;
	}

}

/* Medium */

@media all and (min-width: 854px) and (max-width: 1059px) {

	.medium-one {
		width: 176px;
	}
	
	.medium-two {
		width: 382px;
	}
	
	.medium-three {
		width: 588px;
	}
	
	.medium-four {
		width: 793px;
	}
	
	.medium-five {
		width: 1000px;
	}

}

/* Large */

@media all and (min-width: 1060px) {

	.large-one {
		width: 176px;
	}
	
	.large-two {
		width: 382px;
	}
	
	.large-three {
		width: 588px;
	}
	
	.large-four {
		width: 793px;
	}
	
	.large-five {
		width: 1000px;
	}

}


/**
 * Columns by width with one additional module:
 * useful for deliberately breaking the grid by adding half a column
 */
 
.one-plus {
	width: 279px;
}

.two-plus {
	width: 485px;
}

.three-plus {
	width: 690px;
}

.four-plus {
	width: 896px;
}

/* Columns by proportion */

.half {
	width: 484px;
}

.two .half {
	width: 176px;
}

.three .half {
	width: 279px;
}

.four .half {
	width: 382px;
}

/* Linearise columns in fluid layout */

@media all and (max-width: 647px) {

	#site .column {
		float: none;
		width: auto;
	}

}

/*-----------------------------------------------------------------------------
	Forms:

	Style definitions for form elements.
-----------------------------------------------------------------------------*/

form {
/*	border: none;
	margin: 2.4rem -10px 0;
	padding: 0;*/
}

fieldset {
	padding: 0;
	border: none;
/*	background: #F5F5F3;
	border-radius: 2px;
	border: 1px solid #C4C4C2;
	margin: 2.4rem 0 0;
	width: 100%;
	-moz-box-sizing: border-box;
	box-sizing: border-box;*/
}

input:not([type=checkbox]):not([type=radio]),
button,
textarea,
select[multiple] {
	border: 1px solid rgba(0, 0, 0, 0.25);
	border-radius: 2px;
	-moz-box-sizing: border-box;
	box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.05);
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	margin-top: 2px;
	padding: 3px 5px;
	width: 100%;
}

input[type=submit],
button {
	width: auto;
}

input:not([type=checkbox]):not([type=radio]):active,
input:not([type=checkbox]):not([type=radio]):focus,
textarea:active,
textarea:focus,
select[multiple]:active,
select[multiple]:focus {
	border-color: rgba(0, 0, 0, 0.4);
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
	outline: none;
}

select[multiple] {
	font-size: 1em;
}

input:not([type=checkbox]):not([type=radio]) {
	height: 24px;
}

select {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
	margin-top: 2px;
	width: 100%;
}

select[multiple] {
	height: 10em;
	padding: 0;
	width: 100%;
}

input[size],
input[type=radio],
input[type=checkbox] {
	display: inline;
	margin-right: 5px;
	width: auto;
}

button,
input[type=submit] {
	font-family: 'Open Sans', sans-serif;
}

select,
input[type=reset],
input[type=button],
input[type=submit],
textarea,
option,
fieldset {
	outline: 0;
}

button::-moz-focus-inner,
input[type=reset]::-moz-focus-inner,
input[type=button]::-moz-focus-inner,
input[type=submit]::-moz-focus-inner,
select::-moz-focus-inner,
input[type=file] > input[type=button]::-moz-focus-inner {
	border: none;
}

a.return {
	float: left;
}

/*-----------------------------------------------------------------------------
	Headers:

	Style definitions for page headlines and headers.
-----------------------------------------------------------------------------*/

h1 {
	font-family: 'Open Sans', 'PT Sans Caption', sans-serif;
	font-size: 2.6rem;
	font-weight: 300;
	letter-spacing: 0.05em;
	line-height: 2.6rem;
	margin: 3.2rem 0 0;
	padding-top: 0.5rem;
	text-transform: uppercase;
}

h2 {
	font-size: 3rem;
	font-weight: 400;
	line-height: 3.6rem;
	margin: 0 0 0 30px;
}

/* @todo: needs a smaller line-height - might not work for the introduction though */
h3 {
	font-size: 2.2rem;
	font-weight: 400;
	line-height: 3.6rem;
	margin: 2.5rem 0 1.1rem;
	padding: 0;
	max-width: 592px;
}

.field > h3 {
	margin-left: 30px;
}

.column.entries > h3:first-child {
	margin-top: 0.9rem;
}

h4 {
	font-size: 1.8rem;
	font-weight: 400;
	margin: 1.8rem 0 0.6rem;
	padding: 0;
	max-width: 592px;
}

/* @todo: needs more adjusting 
h5 {
	font-size: 1.5rem;
	font-weight: 600;
	margin: 0;
	padding: 0;
	max-width: 592px;
}

/* Sections */

section,
article {
	clear: both;
}

/* Main site header */

header.site {
	border-bottom: 1px solid #CFCFCF;
	box-shadow: 0 11px 15px -15px #c2c2c2, 0 5px 6px -8px rgba(0, 0, 0, 1);
	margin-bottom: 2.4rem;
	padding: 3.2rem 30px 1.2rem;
	position: relative;
}

header.site::before,
header.site::after {
	background: -webkit-linear-gradient(left, rgba(251, 253, 251, 1) 0%, rgba(251, 253, 251, 0) 100%);
	background: -moz-linear-gradient(left, rgba(251, 253, 251, 1) 0%, rgba(251, 253, 251, 0) 100%);
	background: -ms-linear-gradient(left, rgba(251, 253, 251, 1) 0%, rgba(251, 253, 251, 0) 100%);
	background: -o-linear-gradient(left, rgba(251, 253, 251, 1) 0%, rgba(251, 253, 251, 0) 100%);
	background: linear-gradient(to right, rgba(251, 253, 251, 1) 0%, rgba(251, 253, 251, 0) 100%);
	bottom: -3px;
	content: "";
	display: block;
	height: 5px;
	left: 0;
	position: absolute;
	width: 20px;
}

header.site::after {
	background: -webkit-linear-gradient(left, rgba(251, 253, 251, 0) 0%, rgba(251, 253, 251, 1) 100%);
	background: -moz-linear-gradient(left, rgba(251, 253, 251, 0) 0%,rgba(251, 253, 251, 1) 100%);
	background: -ms-linear-gradient(left, rgba(251, 253, 251, 0) 0%, rgba(251, 253, 251, 1) 100%);
	background: -o-linear-gradient(left, rgba(251, 253, 251, 0) 0%, rgba(251, 253, 251, 1) 100%);
	background: linear-gradient(to right, rgba(251, 253, 251, 0) 0%, rgba(251, 253, 251, 1) 100%);
	left: auto;
	right: 0;
}

header.site h1 {
	background: url(../img/logo.png) -1px 0 no-repeat;
	float: left;
	text-rendering: optimizeLegibility;
	margin: 0 40px 0 0;
	white-space: nowrap;
}

.svg header.site h1 {
	background-image: url(../img/logo.svg);
}

header.site h1 span {
	float: left;
	height: 35px;
	text-indent: -1000em;
	width: 203px;
}

header.site nav {
	text-align: right;
	margin-right: -10px;
	padding: 1rem 0 0.6rem;
	line-height: 1.5;
	clear: none;
}

.js header.site nav {
	height: 2.4rem;
	text-overflow: clip;
	white-space: nowrap;
}

header.site nav a {
	border: 1px solid transparent;
	color: #000;
	font-size: 1.5rem;
	padding: 0 9px;
	text-decoration: none;
	display: inline-block;
}

header.site nav a.active {
	font-weight: 700;
}

header.site nav a:hover {
	color: #B20B4F;
}

/* Collapsed site header */

header.site.collapsed nav {
	clear: left;
	text-align: left;
	margin-left: -9px;
	padding: 0;
	height: 0;
	text-overflow: normal;
	white-space: normal;
	padding: 0;
	overflow: hidden;
}

header.site.collapsed nav::before {
	content: "\2630";
	font-size: 2.9rem;
	line-height: 1;
	padding-left: 5px;
	position: absolute;
	top: 3.4rem;
	right: 30px;
}

header.site.collapsed nav.open {
	padding: .6rem 0 0.6rem;
	min-height: 2.4rem;
	height: auto;
	overflow: visible;
}

/* Page header */

header.page {
	margin: 2.9rem 30px 0;
	max-width: 796px;
}

header.page h2 {
	margin: 0 6px 3rem 0;
	display: inline-block;
}

header.page h2.with-separator::after {
	content: "\00B7";
	font-weight: 600;
	padding-left: 10px;
	color: #B20B4F;
}

header.page p {
	display: inline-block;
	font-size: 3rem;
	font-weight: 300;
	line-height: 3.6rem;
}

header.page .tag {
	background: #92C44D;
	border: 1px solid #92C44D;
	border-radius: 2px;
	color: #fff;
	display: inline-block;
	font-size: 1.3rem;
	font-style: normal;
	line-height: 2.4rem;
	margin-left: 5px;
	padding: 0 10px;
	position: relative;
	top: -0.5rem;
}

footer.author.bottom {
	font-size: 1.3rem;
	font-weight: 400;
	color: #9b9b9b;
	font-size: 1.3rem;
	
}

footer.author.bottom em {
	color: #9b9b9b;
	color: #555;
	font-style: normal;
}

/*-----------------------------------------------------------------------------
	Content elements:
	
	General definitions for paragraphs and other content elements.
-----------------------------------------------------------------------------*/

p {
	margin: 0 30px 1.2rem;
	max-width: 556px;
	padding: 0;
}

p.introduction {
	font-size: 2.2rem;
	font-weight: 300;
	line-height: 3.6rem;
	margin: 0.8rem 0 1rem;
	max-width: 592px;
}

p[data-pullquote] {

	/* It seems like any definition is needed here so that the following pseudo element works as expected */
	position: inherit;
}

p[data-pullquote]::before {
	content: attr(data-pullquote);
	display: block;
	float: right;
	font-size: 2rem;
	font-weight: 300;
	color: #888;
	line-height: 3rem;
	margin-right: -238px;
	padding: 0 0 2rem 35px;
	width: 309px;
}

/* is this the wrong spot for this? */
.column p,
header p {
	margin-left: 0;
	margin-right: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}

ul {
	list-style: none;
	margin: 0 0 1.2rem 3rem;
	padding: 0;
}

ul li {
	padding-left: 13px;
	position: relative;
}

ul li::before {
	content: "·";
	position: absolute;
	left: 0;
	font-weight: 800;
}

ul li > ul {
	margin: 0 0 0 15px;
}

a {
	color: #000;
	text-decoration: none;
}

a:hover {
	color: #B20B4F;
}

img {
	display: block;
}

code {
	font: 12px/1.5 Monaco, Consolas, 'Andale Mono', monospace;
}

/*-----------------------------------------------------------------------------
	Articles:
	
	Articles can be used for entry overviews (like the community discussions)
	and for the entry display itself.
-----------------------------------------------------------------------------*/

/* Overview */

.overview article {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	height: 6rem;
	padding-top: 0.64rem;
}

.overview article:last-of-type {
	border-bottom: none;
}

.overview article h3 {
	font-size: 1.5rem;
	font-weight: 500;
	line-height: inherit;
	margin: 0;
}

.overview article p {
	margin-bottom: 0;
}

.overview article .response {
	font-size: 3.6rem;
	font-weight: 300;
	line-height: 4.3rem;
	overflow: visible;
	position: relative;
	text-align: right;
	margin-left: 23px; /* actually this should equal 20px, 3 extra pixels for optical alignment */
}

.overview article .response .tag {
	background: #282828;
	border-radius: 2px;
	color: #fff;
	float: right;
	font-size: 1.8rem;
	font-style: normal;
	font-weight: 300;
	line-height: 1.8rem;
	margin: 0.8rem 3px 0 0.4rem; /* 3px right margin to correct optical alignment from above */
	padding: 0.5rem 10px 0.4rem 0.8rem;
	white-space: nowrap;
}

.overview article .response .tag::before {
	content: "+";
	font-size: 1.3rem;
	font-weight: 400;
	vertical-align: 10%;
}

.overview article .response a {
	display: block;
	position: absolute;
	right: -10px;
	top: 0.6rem;
	width: 150px;
}

/* Entries */

.entries article header {
	padding: 0;
}

/* Comments */

article.comment {
	position: relative;
	
	/* @todo: this is highly experimental and only adjusted for expected behavior in Safari. */
	min-height: 69px;
	margin: 0 -10px;
	padding: 0 10px;
}

article.comment:not(:first-of-type) {
	border-top: 1px solid #bbbfbb;
}

article.comment footer {
	margin: 0 100px 0 -10px;
	padding: 0.6rem 10px;
/*	border-bottom: 1px solid #e2e4e2;*/
	width: 588px;
	color: #9b9b9b;
/*	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-size: 1.1rem;*/
}

/*article.comment footer::before {
	content: "";
	width: 10px;
	height: 10px;
	position: absolute;
	top: 3.1rem;
	left: 20px;
	background: #FBFDFB;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	border-top: 1px solid #e2e4e2;
	border-left: 1px solid #e2e4e2;
}*/

article.comment footer strong {
	background: #282828;
	border-radius: 2px;
	color: #fff;
	font-weight: 300;
	padding: 2px 7px 2px 5px;
	margin: 0 5px 0 -10px;
	
	display: none;
}

article.comment footer a[rel=author] {
	font-weight: 700;
	font-size: 1.3rem;
	padding-right: 3px;
}

article.comment footer.author img {
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 2px;
	position: absolute;
	top: -1px;
	right: 0;
}

#position-1 .comment footer.author img {
	top: 1rem;
}


/*-----------------------------------------------------------------------------
	Sidebar:
	
	Styling for elements used inside sidebar columns.
-----------------------------------------------------------------------------*/

.sidebar h3 {
	font-size: 1.3rem;
	font-weight: 600;
	letter-spacing: 0.1em;
	margin-top: 0.6rem;
	text-transform: uppercase;
}

.sidebar p.annotation {
	color: #666;
}

.sidebar p.annotation::after {
	content: '\E766';
	font-family: Entypo;
	font-size: 2rem;
	position: absolute;
	top: 0;
	right: -5px;
}

.sidebar ul {
	margin-left: 0;
}

.sidebar > ul:first-child {
	margin-top: 1.8rem;
}

.sidebar ul li {
	font-size: 1.3rem;
	margin-left: -10px;
	
/* @todo: next definitions good for li's consisting of more than one line (interview questions) - not so much for regular sidebar nav */
	margin-bottom: 1rem;
	line-height: 2rem;
	
}

.sidebar ul li::before {
	content: none;
}

.sidebar ul li.selected,
.sidebar ul li:hover {
	background: #fff;
	border: 1px solid rgba(0, 0, 0, 0.075);
	border-radius: 2px;
}

.sidebar ul li.selected::after {
	color: rgba(0, 0, 0, 0.7);
	content: "\2713";
	float: right;
	padding-right: 5px;
}

.sidebar input {
	box-sizing: border-box;
	margin-left: -10px;
	padding-left: 8px;
	width: 187px;
}

/* Asides */

.sidebar aside {
	padding: 0 0 2rem;
	margin-left: -10px;
}

.sidebar aside p {
	background: #e8e8e8;
	color: #555;
	padding: 0.6rem 10px 0.6rem;
	line-height: 2rem;
	font-size: 1.2rem;
}

.sidebar > aside:first-child {
	margin-top: 1.4rem;
}

/*-----------------------------------------------------------------------------
	Users:
-----------------------------------------------------------------------------*/

a.user {
	font-weight: 600;
}

/*-----------------------------------------------------------------------------
	Toolbars:
	
	Toolbars should be used for entry interactions and paginations
-----------------------------------------------------------------------------*/

.tools {
	background: #f5f5f3;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 2px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.tools:hover {
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.tools li {
	float: left;
	list-style: none;
	padding-left: 0;
}

.tools li::before {
	content: none;
}

.tools a[href]:hover {
	background: #fff;
}

.tools a.selected {
	background: #282828;
	color: #fff;
	margin-bottom: -1px;
	margin-top: -1px;
	padding-bottom: 1px;
	padding-top: 1px;
}

.tools > a:last-child,
.tools li:last-child a {
	border-right: none;
}

.tools a {
	border-right: 1px solid rgba(0, 0, 0, 0.2);
	display: inline-block;
	font-size: 1.3rem;
	padding: 0 10px;
}

/* Tools in footers */

footer .tools {
	float: right;
	margin-right: -10px;
	position: relative;
}

/* Entry options */

header.page .tools {
	position: absolute;
	right: 20px;
	top: 0.5rem;
}

/* Pagination */

.tools.pagination {
	float: left;
	margin: 2.4rem -10px;
	padding: 0;
	position: relative;
	width: 814px;

	/* This is needed to remove whitespace between the nested links */
	font-size: 0;
}

.tools.pagination > a {
	border: none;
	float: left;
}

.tools.pagination > a:last-of-type {
	float: right;
}

.tools.pagination a:not([href]) {
	color: rgba(0, 0, 0, 0.3);
}

.tools.pagination a.ellipsis {
	margin-left: 30px;
}

.tools.pagination a.ellipsis::before {
	border-right: 1px solid rgba(0, 0, 0, 0.2);
	color: rgba(0, 0, 0, 0.3);
	content: "\00B7\00B7\00B7";
	margin-left: -30px;
	padding-right: 10px;
	position: absolute;
}

.tools.pagination div.pages {
	left: 50%;
	margin-left: -250px;
	position: absolute;
	text-align: center;
	top: 0;
	width: 500px;
}

/* Pagination in overview */

.overview .tools.pagination {
	margin-top: 1.8rem;
}

/*-----------------------------------------------------------------------------
	Tables:
-----------------------------------------------------------------------------*/

/* Data tables */

.data {
	background: #F5F5F5;
	border-left: 1px solid #E6E6E5;
	border-radius: 2px;
	border-right: 1px solid #E6E6E5;
	margin: 0 10px;
	padding-right: 0;
}

.data:first-of-type {
	border-top: 1px solid #E6E6E5;
}

.data .column.pinned {
	width: 214px;
}

.data .column.scroll {
	margin: 0;
	overflow-x: scroll;
	width: 804px;
}

.data:last-of-type {
	border-bottom: 1px solid #E6E6E5;
}

.data h3.pinned {
	border-right: 1px solid rgba(0, 0, 0, 0.05);
	color: rgba(0, 0, 0, 0.6);
	display: block;
	font-family: 'Open Sans', 'PT Sans Caption', sans-serif;
	font-size: 1.4rem;
	font-size: 1.4rem;
	font-weight: normal;
	font-weight: normal;
	margin: 0;
	min-height: 3rem;
	padding: 0;
	padding: 0 0 0 9px;
}

.data table th {
	font-weight: normal;
	text-align: left;
}

.data table tr {
	background: #fff;
	height: 30px;
}

.data table a {
	color: #fff;
	text-decoration: none;
}

.data .label {
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
	height: 3rem;
}

/* Compatibility table */

table.compatibility td.compatible {
	background: rgba(146, 196, 77, 0.7);
	color: rgba(255, 255, 255, 0.7);
}

table.compatibility td.compatible:nth-last-child(4) {
	background: rgba(146, 196, 77, 0.75);
	color: rgba(255, 255, 255, 0.75);
}

table.compatibility td.compatible:nth-last-child(3) {
	background: rgba(146, 196, 77, 0.8);
	color: rgba(255, 255, 255, 0.8);
}

table.compatibility td.compatible:nth-last-child(4) a {
	color: rgba(255, 255, 255, 0.75);
}

table.compatibility td.compatible:nth-last-child(2) {
	background: rgba(146, 196, 77, 0.9);
	color: rgba(255, 255, 255, 0.9);
}

table.compatibility td.compatible:nth-last-child(3) a {
	color: rgba(255, 255, 255, 0.8);
}

table.compatibility td.compatible:last-child {
	background: rgba(146, 196, 77, 1);
	color: rgba(255, 255, 255, 1);
}

table.compatibility td.compatible:nth-last-child(2) a {
	color: rgba(255, 255, 255, 0.9);
}

table.compatibility td.compatible:last-child a {
	color: rgba(255, 255, 255, 1);
}

table.compatibility td.compatible a {
	color: rgba(255, 255, 255, 0.7);
}

/*-----------------------------------------------------------------------------
	Code:
-----------------------------------------------------------------------------*/

.source code {
	background: #fff;
	border: 1px solid #E6E6E5;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: inline-block;
	height: 2.5rem;
	white-space: nowrap;
}

/*-----------------------------------------------------------------------------
	Syntax highlighting:

	These styles adjusts the default Prims styles.
-----------------------------------------------------------------------------*/

code[class*="language-"],
pre[class*="language-"] {
	text-shadow: none;
}

pre[class*="language-"] {
	margin: .5em -10px;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: #F5F5F5;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #a6a6a6;
}

.token.property,
.token.tag,
.token.boolean,
.token.number {
	color: #A00947;
}

.token.selector,
.token.attr-name,
.token.string {
	color: #737373;
}

.token.atrule,
.token.attr-value,
.token.keyword {
	color: #0080a0;
}

pre[data-line] {
	padding: 1em 0 1em 20px;
}

/* Highlighting */

.line-highlight {
	background: rgba(0, 0, 0, 0.03);
}

.line-highlight::before,
.line-highlight[data-end]::after {
	padding: 0 .5em;
	margin-left: -7px;
	background-color: transparent;
	color: rgba(0, 0, 0, 0.5);
	font: normal 1rem/1.5rem 'Open Sans', sans-serif;
	text-align: left;
	vertical-align: 0;
	border-radius: 0;
	text-shadow: none;
	box-shadow: none;
}

/*-----------------------------------------------------------------------------
	Site:

	Style definitions for the site area.
-----------------------------------------------------------------------------*/

#site {
	position: relative;
}

/*-----------------------------------------------------------------------------
	Network:

	Style definitions for the network area.
-----------------------------------------------------------------------------*/

.network-wrapper {
	background-color: #b20b4f;
	border-bottom: 2px solid #d9d9d9;
	overflow: hidden;
	max-height: 3.6rem;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}

.network-wrapper:hover {
	max-height: 30rem;
	-webkit-transition: all 0.25s ease-in-out 0.5s;
	-moz-transition: all 0.25s ease-in-out 0.5s;
	-ms-transition: all 0.25s ease-in-out 0.5s;
	-o-transition: all 0.25s ease-in-out 0.5s;
	transition: all 0.25s ease-in-out 0.5s;
}

.network-wrapper::after {
	content: none;
	display: block;
	clear: both;
}

/* Network toolbar */

.network-toolbar {
	background-color: #282828;
	background-image: -webkit-linear-gradient(top, #282828 3.6rem, #A00947 3.7rem);
	background-image: -moz-linear-gradient(top, #282828 3.6rem, #A00947 3.7rem);
	background-image: -ms-linear-gradient(top, #282828 3.6rem, #A00947 3.7rem);
	background-image: -o-linear-gradient(top, #282828 3.6rem, #A00947 3.7rem);
	background-image: linear-gradient(top, #282828 3.6rem, #A00947 3.7rem);
	color: #fff;
	font-family: 'Open Sans', 'PT Sans Caption', sans-serif;
	min-height: 3.6rem;
}

.network-toolbar .centered {
	position: relative;
}

.network-toolbar h1 {
	padding: 1rem 0;
	overflow: visible;
	font-size: 1.5rem;
	font-weight: 600;
	letter-spacing: 0.075em;
	text-transform: uppercase;
	white-space: nowrap;
	position: relative;
	line-height: 1.5rem;
}

.network-toolbar a {
	color: #fff;
	-webkit-transition: color 0.2s ease-in-out;
	-moz-transition: color 0.2s ease-in-out;
	-ms-transition: color 0.2s ease-in-out;
	-o-transition: color 0.2s ease-in-out;
	transition: color 0.2s ease-in-out;
	line-height: 1;
}

/* Network navigation */

.network-nav {
	width: auto;
	padding: 0.5rem 50px 0.5rem 0;
	position: relative;
	line-height: 1.5rem;
}

.network-nav::before {
	content: "\2630";
	position: absolute;
	top: -2.6rem;
	left: 206px;
	font-size: 1.5rem;
	color: rgba(255, 255, 255, 0.7);
}

.network-nav a {
	color: rgba(255, 255,255, 0.7);
	line-height: 1.5rem;
	font-size: 1.4rem;
	font-weight: 300;
	float: left;
	display: inline-block;
	padding: 0.5rem 0;
}

.network-nav a:hover {
	color: #fff;
}

.network-nav a:not(:last-of-type)::after {
	content: "\00B7";
	color: rgba(255, 255,255, 0.7);
	margin: 0 0.5em;
}

/* User */

.network-user {
	position: absolute;
	right: 30px;
	top: 0;
	overflow: hidden;
	white-space: nowrap;
}

.network-user img {
	float: right;
}

.network-user p {
	float: right;
	display: block;
	font-size: 1.4rem;
	font-weight: 300;
	padding: 0.5rem 10px 0 0 ;
/*	line-height: 3rem;*/
	color: rgba(255, 255, 255, 0.7);
}

.network-user a {
	color: rgba(255, 255, 255, 0.7);
}

.network-user a:hover {
	color: #fff;
}

.network-user .network-visitors {
	margin-left: 7px;
}

.network-user.collapsed {
	width: 3.6rem;
}

/* Profile */

.network-profile {
	border-bottom: 2px solid #A00947;
	display: none;
}

/* Drawer */

.network-drawer {
	font-family: 'Open Sans', sans-serif;
	margin-top: 2.5rem;
	margin-bottom: 0;
	opacity: 0.5;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}

.network-wrapper:hover .network-drawer {
	margin-top: 0;
	margin-bottom: 2.5rem;
	opacity: 1;
	-webkit-transition: all 0.3s ease-in-out 0.5s;
	-moz-transition: all 0.3s ease-in-out 0.5s;
	-ms-transition: all 0.3s ease-in-out 0.5s;
	-o-transition: all 0.3s ease-in-out 0.5s;
	transition: all 0.3s ease-in-out 0.5s;
}

.network-drawer::after {
	content: "";
	display: block;
	clear: both;
}

.network-drawer > .column {
	margin-top: 18px;
}

.network-drawer h2 {
	border-bottom: 1px solid #9E0A46;
	color: #d96f90;
	font-family: 'Open Sans', 'PT Sans Caption', sans-serif;
	font-size: 1.3rem;
	font-weight: 300;
	letter-spacing: 0.1em;
	margin: 0 -10px 0.3rem;
	padding: 0 10px 0.3rem;
	text-transform: uppercase;
	display: block;
	line-height: 2.4rem;
}

.network-drawer p {
	color: rgba(255, 255, 255, 0.7);
}

.network-drawer a {
	font-size: 1.3rem;
	color: #fff;
}

.network-drawer ul {
	margin-left: 0;
}

.network-drawer li::before {
	content: none;
}

.network-drawer li {
	padding-left: 0;
}

.network-drawer ::selection,
.network-drawer ::-moz-selection {
	background: rgba(0, 0, 0, 0.1)
}

/* Get Symphony */

.network-drawer .get-symphony {
	background: #A00947;
	margin: 0 0 0 -10px;
	padding: 1rem 0 1rem 10px;
	border-radius: 2px;
	font-weight: 300;
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 402px;
}

.network-drawer .get-symphony:hover {
	background: #88083c;
}

.network-drawer .get-symphony a {
	float: right;
	border-left: 1px solid rgba(0, 0, 0, 0.15);
	padding: 0.2rem 10px 0;
}

.network-drawer .get-symphony a:first-child {
	font-size: 1.8rem;
	border-left: none;
	padding: 0;
	color: #fff;
	float: left;
}

/*-----------------------------------------------------------------------------
	Footer:

	Style definitions for the footer.
-----------------------------------------------------------------------------*/

#footer {
	background: #282828;
	width: 100%;
	clear: both;
	color: #fff;
	overflow: hidden;
}

#footer a {
	color: #fff;
}

#footer p {
	float: left;
}

#footer p.footer-links {
	float: right;	
}

#footer a[class^=logo]::before {
	font-family: Entypo;
	font-size: 2rem;
}

#footer a.logo-github::before {
	content: "\F300";
}

#footer a.logo-twitter::before {
	content: "\F315";
}

/*-----------------------------------------------------------------------------
	Fonts and icons:
-----------------------------------------------------------------------------*/

@font-face {
	font-family: 'Entypo';
	src: url('fonts/entypo.eot');
	src: url('fonts/entypo.eot?#iefix') format('embedded-opentype'),
	     url('fonts/entypo.woff') format('woff'),
	     url('fonts/entypo.ttf') format('truetype'),
	     url('fonts/entypo.svg#svgEntypo') format('svg');
}

.icon::before {
	font-family: "Entypo";
	font-size: 34px;
	float: left;
	margin-right: 5px;
}

.icon.download::before {
	content: "\E778";
}

.icon.fork::before {
	content: "\1F569";
}
