/**
 * SYMPHONY FACTORY
 * A design framework for the Symphony Network
 *
 * @link http://symphonycms.github.com/factory/
 * @licence Symphony Community Licence
 *
 * Please add your custom site styling in a separate file.
 */

/*-----------------------------------------------------------------------------
	General definitions
-----------------------------------------------------------------------------*/

body {
	margin: 0;
	padding: 0;
	font: normal 15px/1.7 'PT Sans', sans-serif;
	overflow-y: scroll;
}

img {
	display: block;
}

h1 {
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
	padding: 0;
}

table {
	width: 100%;
}

.hidden {
	display: none;
}

/*-----------------------------------------------------------------------------
	Layouts:

	There are two kinds of general site layouts: centered and wide.
	The centered layout is the default one and should be used by all
	text focussed sites. The wide version is conceived for sites like
	xPathr that need the full window width to deplay their UI.
-----------------------------------------------------------------------------*/

.centered {
	width: 1040px;
	margin: 0 auto;
}

.wide {
	width: 100%;
	margin: 0 50px;
}

/*-----------------------------------------------------------------------------
	Grids:

	Grid layouts should be grouped in fields. There are two main layout types:
	fields with and without sidebar, see column definitions by function.
-----------------------------------------------------------------------------*/

.field {
	box-sizing: border-box;
	clear: both;
	position: relative;
	padding: 0 20px 0 0;
}

.field:after {
	content: "";
	clear: both;
	display: block;
}

/* Nested fields */

.field .field {
	margin-left: -20px;
	padding-right: 0;
}

/*-----------------------------------------------------------------------------
	Columns:

	There are three different categories of columns:
	columns by function, by width and by proportion.

	All columns are floated and it's up to the developer to make sure that
	the column widths sum up to the full page width per row.
	The column widths .three, .four, .five are not meant to display text,
	they should be used for tables and images.
	
	If you'd like to nest columns inside a column, make sure to wrap those
	columns with another .field element.
-----------------------------------------------------------------------------*/

.column {
	margin: 0 0 20px 20px;
	box-sizing: border-box;
	float: left;
	position: relative;
}

/* Columns by function */

.column.sidebar {
	width: 184px;
}

.column.content {
	float: right;
	width: 796px;
}

.table .column.content {
	overflow-x: scroll;
}

/* Columns by width */

.one {
	width: 184px;
}

.two {
	width: 388px;
}

.three {
	width: 592px;
}

.four {
	width: 796px;
}

.five {
	width: 1000px;
}

/* Columns by proportion */

.half {
	width: 490px;
}

.two .half {
	width: 184px;
}

.three .half {
	width: 285px;
}

.four .half {
	width: 388px;
}

/*-----------------------------------------------------------------------------
	Network:

	Style definitions for the network area. 
	
	To save space, Factory uses `vh` as unit for the toolbar height. This allows 
	us to save a bit of vertical space on narrow devices. Browsers that don't 
	support that unit yet will default to the full height.
-----------------------------------------------------------------------------*/

#network {
	background: #b20b4f;
}

#network a {
	color: #fff;
}

#network #user,
#network .user {
	margin-left: 0;
	margin-right: -20px;
	margin-bottom: -4px;
	width: 224px;
	padding-left: 20px;
	background: rgba(0, 0, 0, 0.1);
}

/* Toolbar */

#network header {
	margin: 0;
	padding: 0;
	color: #fff;
	background: #282828;
	min-width: 1040px;
	
	/* Flexible height with fallback */
	min-height: 35px;
	height: 45px;
	height: 6vh;
	max-height: 45px;
}

#network header .centered {
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 1040px;
	margin-left: -520px;
	padding-bottom: 4px;
}

#network header h1 {
	text-transform: uppercase;
	font-size: 15px;
	font-family: 'PT Sans Caption', sans-serif;
	letter-spacing: 0.075em;
	font-weight: normal;
}

#network header a {
	color: rgba(255, 255,255, 0.7);
	text-decoration: none;
}

#network header nav a {
	float: left;
}

#network header nav a:not(:last-of-type):after {
	content: "\00B7";
	margin: 0.5em;
}

#network header .column {
	margin-bottom: 0;
}

#user {
	position: relative;
}

#user img {
	position: absolute;
	bottom: 0;
	right: 20px;
}

/* Drawer */

#network .drawer {
	height: 0;
	overflow: hidden;
	-webkit-transition: height 0.2s ease-out 0.5s;
	-moz-transition: height 0.2s ease-out 0.5s;
	-ms-transition: height 0.2s ease-out 0.5s;
	-o-transition: height 0.2s ease-out 0.5s;
	transition: height 0.2s ease-out 0.5s;
}

#network:hover .drawer,
#network.pinned .drawer {
	height: 200px;
	-webkit-transition: height 0.2s ease-out 0.1s;
	-moz-transition: height 0.2s ease-out 0.1s;
	-ms-transition: height 0.2s ease-out 0.1s;
	-o-transition: height 0.2s ease-out 0.1s;
	transition: height 0.2s ease-out 0.1s;
}

#network .drawer h2 {
	color: #C9728D;
	font-size: 14px;
	font-weight: normal;
	text-transform: uppercase;
	border-bottom: 1px solid #9E0A46;
}

#network .drawer ul {
	list-style: none;
	padding: 0;
}

#network .user {
	height: 100%;
}

#network .user p {
	background: rgba(0, 0, 0, 0.1);
	margin-left: -20px;
	padding: 0 20px;
}

/*-----------------------------------------------------------------------------
	Site:

	Style definitions for the content area of a site.
-----------------------------------------------------------------------------*/

#site header {
	padding: 0 20px;
}

/* Main site header, e. g. Symphony Extensions */

#site > header {
	padding: 0 20px 10px 20px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	box-shadow: 0 11px 15px -15px #c2c2c2, 0 2px 4px -3px #cfcfcf;
}

#site > header:after {
	content: "";
	display: block;
	clear: both;
}

#site > header h1 {
	margin: 1em 0 0;
	padding-top: 5px;
	font-size: 27px;
	line-height: 1;
	font-family: 'PT Sans Caption', sans-serif;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	font-weight: normal;
	float: left;
	background: url(../img/logo.png) 0 0 no-repeat;
}

#site > header h1 span {
	float: left;
	width: 203px;
	height: 35px;
	text-indent: -1000em;
}

#site > header nav {
	float: right;
}

#site > header nav a {
	color: #000;
	text-decoration: none;
	float: left;
	margin: 37px 0 0 17px;
}

/* */

#site .field > h2 {
	margin-left: 20px;
}

/* Tables */

.table {
	background: rgba(0, 0, 0, 0.05);
	border-radius: 2px;
}
