/**
 * SYMPHONY FACTORY
 * A design framework for the Symphony Network
 *
 * @link http://symphonycms.github.com/factory/
 * @licence Symphony Community Licence
 *
 * Please add your custom site styling in a separate file.
 */

/*-----------------------------------------------------------------------------
	General definitions:
	
  # Colours
	
	$network: b20b4f;
	$site: #fbfdfb;
	$pink: #b20b4f;	
	
  # Units
	
	Use `rem` for vertical and `px` for horizontal units.
-----------------------------------------------------------------------------*/
html {
	font-size: 10px;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', 'PT Sans', sans-serif;
	font-weight: normal;
	overflow-y: scroll;
	background: #fbfdfb;
	line-height: 2.4rem;
}

img {
	display: block;
}

h1, h2, h3, h4, h5 {
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
	padding: 0;
	font-size: 13px;
}

a {
	text-decoration: none;
}

a:hover {
	color: #B20B4F;
}

code {
	font: 12px/1.5 Monaco, Consolas, 'Andale Mono', monospace;
}

table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.hidden {
	display: none;
}

.dimmed {
	color: rgba(0, 0, 0, 0.6);
}

/*-----------------------------------------------------------------------------
	Layouts:

	There are two kinds of general site layouts: centered and wide.
	The centered layout is the default one and should be used by all
	text focussed sites. The fluid version is conceived for sites like
	xPathr that need the full window width to deplay their UI.
-----------------------------------------------------------------------------*/

.centered {
	width: 1040px;
	margin: 0 auto;
}

.fluid {
	width: 100%;
	padding: 0 50px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*-----------------------------------------------------------------------------
	Grids:

	Grid layouts should be grouped in fields. There are two main layout types:
	fields with and without sidebar, see column definitions by function.
-----------------------------------------------------------------------------*/

.field {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	clear: both;
	position: relative;
	padding: 0 20px 0 0;
}

.field:after {
	content: "";
	clear: both;
	display: block;
}

/* Nested fields */

.field .field {
	margin-left: -20px;
	padding-right: 0;
}

/* Justified fields, e. g. fields with a centered border at the bottom or top */

.field.justified {
	margin-left: -10px;
	margin-right: -10px;
}

/*-----------------------------------------------------------------------------
	Columns:

	There are three different categories of columns:
	columns by function, by width and by proportion.

	All columns are floated and it's up to the developer to make sure that
	the column widths sum up to the full page width per row.
	The column widths .three, .four, .five are not meant to display text,
	they should be used for tables and images.
	
	If you'd like to nest columns inside a column, make sure to wrap those
	columns with another .field element.
-----------------------------------------------------------------------------*/

.column {
	margin: 0 0 0 20px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	position: relative;
}

.field.justified .column:first-child {
	margin-left: 10px;
}

/* Columns by function */

.column.sidebar {
	width: 184px;
}

.column.content {
	float: right;
	width: 796px;
}

.data .column.pinned {
	width: 214px;
}

.data .column.scroll {
	overflow-x: scroll;
	width: 804px;
	margin: 0;
}

/* Columns by width */

.one {
	width: 82px;
}

.two {
	width: 184px;
}

.three {
	width: 286px;
}

.four {
	width: 388px;
}

.five {
	width: 490px;
}

.six {
	width: 592px;
}

.seven {
	width: 694px;
}

.eight {
	width: 796px;
}

.nine {
	width: 898px;	
}

.ten {
	width: 1000px;
}

/* Columns by proportion */

.half {
	width: 490px;
}

.four .half {
	width: 184px;
}

.six .half {
	width: 285px;
}

.eight .half {
	width: 388px;
}

/*-----------------------------------------------------------------------------
	Forms:

	Style definitions for form elements. 
-----------------------------------------------------------------------------*/

input[type=password],
input[type=text],
textarea,
select[multiple] {
	padding: 3px 5px;
	border: 1px solid rgba(0, 0, 0, 0.25);
	box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 2px;
	margin-top: 2px;
	width: 100%;
	font-size: 13px;
	font-family: 'Open Sans', 'PT Sans', sans-serif;
}

select[multiple] {
	font-size: 1em;
}

input[type=text] {
	height: 24px;
}

input[type=password]:active,
input[type=password]:focus,
input[type=text]:active,
input[type=text]:focus,
textarea:active,
textarea:focus,
select[multiple]:active,
select[multiple]:focus {
	outline: none;
	border-color: rgba(0, 0, 0, 0.4);
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
}

select {
	width: 100%;
	display: block;
	margin-top: 2px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

select[multiple] {
	width: 100%;
	height: 10em;
	padding: 0;
}

input[size],
input[type=radio],
input[type=checkbox] {
	display: inline;
	width: auto;
	margin-right: 5px;
}

button,
input[type=submit] {
	font-family: 'Open Sans', 'PT Sans', sans-serif;
}

a,
select,
input[type="reset"], input[type=button], input[type=submit],
textarea,
option,
fieldset {
	outline: 0;
}

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
	border: none;
}

/*-----------------------------------------------------------------------------
	Network:

	Style definitions for the network area. 
-----------------------------------------------------------------------------*/

#network {
	background: #b20b4f;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid #d9d9d9;
}

#network a {
	color: #fff;
	text-decoration: none;
	font-size: 14px;
}

#network a:not([href]) {
	cursor: pointer;
}

/* Toolbar */

#network header {
	margin: 0;
	padding: 0.8rem 0 0;
	color: #fff;
	background: #282828;
	min-width: 1040px;
	font-family: 'Open Sans', 'PT Sans Caption', sans-serif;
	height: 3.6rem;
	overflow: hidden;
}

#network header .centered {
	position: relative;
}

#network header h1 {
	text-transform: uppercase;
	letter-spacing: 0.075em;
	font-weight: 600;
	font-size: 1.5rem;;
}

#network header h1 a {
	font-size: 1.5rem;
}

#network header nav a {
	color: rgba(255, 255,255, 0.7);
	float: left;
	padding-top: 1px;
}

#network header nav a:not(:last-of-type):after {
	content: "\00B7";
	margin: 0.5em;
}

#network header nav a.dimmed {
	color: rgba(255, 255,255, 0.4);
}

#network header .column {
	margin-bottom: 0;
}

#network header a.toggle-grid {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Drawer */

#network .drawer {
	display: none;
	font-size: 15px;
	font-family: 'Open Sans', 'PT Sans', sans-serif;
}

#network .drawer ::selection,
#network .drawer ::-moz-selection {
	background: rgba(0, 0, 0, 0.1);
}


#network .drawer > .column {
	margin-top: 18px;
}

#network .drawer > .column:first-of-type {
	margin-left: 0;
	width: 204px;
}

#network .drawer .column h2 {
	color: #d96f90;
	font-size: 13px;
	font-weight: normal;
	text-transform: uppercase;
	border-bottom: 1px solid #9E0A46;
	font-family: 'Open Sans', 'PT Sans Caption', sans-serif;
	letter-spacing: 0.05em;
	margin: 0 0 0 10px;
	padding: 0 0 3px 10px;
}

#network .drawer ul {
	list-style: none;
	padding: 0 0 0 20px;
	margin-top: 5px;
}

#network .drawer ul.column:first-of-type {
	margin-left: 0;
}

/* User */

#user {
	margin: 0;
	width: 204px;
	padding: 18px 10px 0;
	background: #141414;
	position: absolute;
	top: 0;
	right: 10px;
	font-size: 14px;
	font-family: 'Open Sans', 'PT Sans', sans-serif;
	height: 45px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	cursor: pointer;
	color: rgba(255, 255, 255, 0.85);
}

#user img {
	position: absolute;
	bottom: 4px;
	right: 10px;
	border-radius: 2px;
	border: 1px solid rgba(255, 255, 255, 0.075);
}

#network .column.user {
	height: 190px;
	margin: 0 -10px -4px 10px;
	width: 204px;
	padding-left: 10px;
	background: rgba(0, 0, 0, 0.1);
}

#network .column.user p {
	background: rgba(0, 0, 0, 0.1);
	margin-left: -10px;
	padding: 17px 10px 0;
	height: 44px;
	color: rgba(0, 0, 0, 0.5);
	font-size: 13px;
	font-weight: normal;
	text-transform: uppercase;
	font-family: 'Open Sans', 'PT Sans Caption', sans-serif;
	letter-spacing: 0.05em;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#network .column.user ul {
	padding-left: 0;
}

/*-----------------------------------------------------------------------------
	Site:

	Style definitions for the content area of a site.
-----------------------------------------------------------------------------*/

#site header {
	padding: 0 20px;
}

#site header .author {
	float: right;
}

/* Main site header, e. g. Symphony Extensions */

#site > header {
	padding: 0 20px 0 20px;
	border-bottom: 1px solid #CFCFCF;
	box-shadow: 0 11px 15px -15px #c2c2c2, 0 5px 6px -8px rgba(0, 0, 0, 1);
	position: relative;
	height: 8.4rem;
	margin-bottom: 2.4rem;
}

#site > header:before,
#site > header:after {
	content: "";
	display: block;
	background: -webkit-linear-gradient(left, rgba(251, 253, 251, 1) 0%, rgba(251, 253, 251, 0) 100%);
	background: -moz-linear-gradient(left, rgba(251, 253, 251, 1) 0%, rgba(251, 253, 251, 0) 100%);
	background: -ms-linear-gradient(left, rgba(251, 253, 251, 1) 0%, rgba(251, 253, 251, 0) 100%);
	background: -o-linear-gradient(left, rgba(251, 253, 251, 1) 0%, rgba(251, 253, 251, 0) 100%);
	background: linear-gradient(to right, rgba(251, 253, 251, 1) 0%, rgba(251, 253, 251, 0) 100%);
	height: 5px;
	width: 20px;
	position: absolute;
	bottom: -3px;
	left: 0;
}

#site > header:after {
	background: -webkit-linear-gradient(left, rgba(251, 253, 251, 0) 0%, rgba(251, 253, 251, 1) 100%);
	background: -moz-linear-gradient(left, rgba(251, 253, 251, 0) 0%,rgba(251, 253, 251, 1) 100%);
	background: -ms-linear-gradient(left, rgba(251, 253, 251, 0) 0%, rgba(251, 253, 251, 1) 100%);
	background: -o-linear-gradient(left, rgba(251, 253, 251, 0) 0%, rgba(251, 253, 251, 1) 100%);
	background: linear-gradient(to right, rgba(251, 253, 251, 0) 0%, rgba(251, 253, 251, 1) 100%);
	left: auto;
	right: 0;
}

#site > header h1 {
	margin: 3.2rem 0 0;
	padding-top: 0.5rem;
	font-size: 2.6rem;
	line-height: 2.6rem;
	font-family: 'Open Sans', 'PT Sans Caption', sans-serif;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	font-weight: 300;
	float: left;
	background: url(../img/logo.png) 0 1px no-repeat;
	text-rendering: optimizeLegibility;
}

#site > header h1 span {
	float: left;
	width: 203px;
	height: 35px;
	text-indent: -1000em;
}

#site > header nav {
	float: right;
	margin-right: -10px;
	margin-top: 4.1rem;
}

#site > header nav a {
	color: #000;
	text-decoration: none;
	float: left;
	margin: 0 0 0 2px;
	padding: 0 9px;
	font-size: 1.5rem;
	border: 1px solid transparent;
}

#site > header nav a.active,
#site > header nav a:hover {
	background: #B20B4F;
	color: #fff;
	border-radius: 2px;
	border: 1px solid #900840;
}

#site > header nav a:not(.active):hover {
	background: rgba(0, 0, 0, 0.1);
	border-color: rgba(0, 0, 0, 0.1);
	color: #000;
}

/* Headlines */

#site .field > h2 {
	margin: 3.2rem 0 2.7rem 20px;
	font-size: 2.2rem;
	font-weight: 400;
	line-height: 3.6rem;
}

#site .field > h2 em {
	font-weight: 300;
	font-style: normal;
}

/* Content */

#site p {
	max-width: 592px;
	margin-bottom: 1.2rem;
}

#site p.introduction {
	font-size: 2.2rem;
	font-weight: 300;
	line-height: 3.6rem;
	margin-bottom: 1rem;
	max-width: 592px;
}

#site article.highlighted p {
	font-size: 1.5rem;
}

#site p[data-pullquote] {

	/* It seems like any definition is needed here so that the following pseudo element works as expected */
	position: inherit;
}

#site p[data-pullquote]:before {
	content: attr(data-pullquote);
	font-size: 1.8rem;
	width: 184px;
	padding: 1.5rem 0 2rem 40px;
	display: block;
	float: right;
	margin-right: -102px;
}

#site .content aside {
	float: right;
	width: 184px;
	padding: 0 0 2rem 30px;
}

#site .column:not(.sidebar) ul {
	font-size: 13px;

	/* This needs to be changed into something nice */
	list-style-type: disc;
}

/* Data tables */

#site .data {
	margin: 0 10px;
	background: #F5F5F5;
	border-radius: 2px;
	padding-right: 0;
	border-left: 1px solid #E6E6E5;
	border-right: 1px solid #E6E6E5;
}

#site .data:first-of-type {
	border-top: 1px solid #E6E6E5;
}

#site .data:last-of-type {
	border-bottom: 1px solid #E6E6E5;
}

#site .data h3.pinned {
	margin: 0;
	padding: 0;
	font-size: 1.4rem;
	font-weight: normal;
	min-height: 3rem;
	display: block;
	font-size: 1.4rem;
	font-weight: normal;
	font-family: 'Open Sans', 'PT Sans Caption', sans-serif;
	padding: 0 0 0 9px;
	color: rgba(0, 0, 0, 0.6);
	border-right: 1px solid rgba(0, 0, 0, 0.05);
}

#site .data .label {
	height: 3rem;
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
}

#site .data table th {
	font-weight: normal;
	text-align: left;
}

#site .data table tr {
	background: #fff;
	height: 30px;
}

#site .data table a {
	color: #fff;
	text-decoration: none;
}

/*-----------------------------------------------------------------------------
	Layout snippets
-----------------------------------------------------------------------------*/

/* Compatibility table */

table.compatibility td.compatible a {
	color: rgba(255, 255, 255, 0.7);
}

table.compatibility td.compatible:nth-last-child(4) a {
	color: rgba(255, 255, 255, 0.75);
}

table.compatibility td.compatible:nth-last-child(3) a {
	color: rgba(255, 255, 255, 0.8);
}

table.compatibility td.compatible:nth-last-child(2) a {
	color: rgba(255, 255, 255, 0.9);
}

table.compatibility td.compatible:last-child a {
	color: rgba(255, 255, 255, 1);
}

table.compatibility td.compatible {
	background: rgba(146, 196, 77, 0.7);
	color: rgba(255, 255, 255, 0.7);
}

table.compatibility td.compatible:nth-last-child(4) {
	background: rgba(146, 196, 77, 0.75);
	color: rgba(255, 255, 255, 0.75);
}

table.compatibility td.compatible:nth-last-child(3) {
	background: rgba(146, 196, 77, 0.8);
	color: rgba(255, 255, 255, 0.8);
}

table.compatibility td.compatible:nth-last-child(2) {
	background: rgba(146, 196, 77, 0.9);
	color: rgba(255, 255, 255, 0.9);
}

table.compatibility td.compatible:last-child {
	background: rgba(146, 196, 77, 1);
	color: rgba(255, 255, 255, 1);
}

/* Repository and download links */

.source code {
	background: #fff;
	border: 1px solid #E6E6E5;
	display: inline-block;
	white-space: nowrap;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 2.5rem;
}

/* Community */

#site .content article {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	padding-top: 0.64rem;
}

#site .content article:last-of-type {
	border-bottom: none;
}

#site .content article.thread {
	height: 6rem;	
}

#site .content article:nth-child(odd) {
}

#site .content article header {
	padding: 0;
}

#site .content article h3 {
	font-size: 1.4rem;
	font-weight: 600;
}

#site .content article a {
	color: #000;
	text-decoration: none;
}

#site .content article .response {
	font-size: 3.6rem;
	text-align: right;
	font-weight: 300;
	line-height: 4.3rem;
	overflow: visible;
	position: relative;
}

#site .content article .response a {
	position: absolute;
	top: 0.6rem;
	right: -10px;
	display: block;
	width: 150px;
}

#site .content article .response .tag {
	background: #282828;
	color: #fff;
	font-style: normal;
	font-weight: 300;
	font-size: 1.8rem;
	border-radius: 2px;
	float: right;
	padding: 0.5rem 10px 0.4rem 0.8rem;
	margin: 0.8rem 0 0 0.4rem;
	line-height: 1.8rem;	
	white-space: nowrap;
}

#site .content article .response .tag:before {
	content: "+";
	font-size: 1.3rem;
	font-weight: 400;
	vertical-align: 10%;
}

#site .content article footer {
	float: right;
	width: 184px;
}

#site .content article footer img {
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 2px;
	margin-right: -10px;
}

/* Sidebar */

.sidebar h3 {
	font-size: 1.3rem;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	margin-top: 0.6rem;
}

.sidebar ul li {
	font-size: 1.3rem;
	margin-left: -10px;
	padding-left: 10px;
}

.sidebar ul li.selected,
.sidebar ul li:hover {
	background: #fff;
	border: 1px solid rgba(0, 0, 0, 0.075);
	border-radius: 2px;
}

.sidebar ul li.selected:after {
	content: "\2713";
	float: right;
	padding-right: 5px;
	color: rgba(0, 0, 0, 0.7);
}

.sidebar input {
	margin-left: -10px;
	padding-left: 8px;
	box-sizing: border-box;
	width: 194px;
}

/* Pagination */

nav.pagination {
	background: #fff;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 2px;
	font-size: 1.3rem;
	margin: 0 -10px;
	float: left;
	width: 816px;
	position: relative;
	padding: 0;
	box-sizing: border-box;

	/* This is needed to remove whitespace between the nested links */
	font-size: 0;
}

article.thread + nav.pagination {
	margin-top: 1.8rem;
}

nav.pagination a {
	font-size: 1.3rem;
	border-right: 1px solid rgba(0, 0, 0, 0.2);
	padding: 0 10px;
	margin: 0;
	display: inline-block;
	color: #000;
}

nav.pagination a:not([href]) {
	color: rgba(0, 0, 0, 0.3);
}

nav.pagination > a:first-child {
	float: left;
	display: block;
	border-right: 0;
	border-radius: 2px 0 0 2px;
}

nav.pagination > a:last-child {
	border-right: 0;
	float: right;
	display: block;
	border-radius: 0 2px 2px 0;
}

nav.pagination a.selected,
nav.pagination a[href]:hover {
	background: #282828;
	color: #fff;
	margin-top: -1px;
	margin-bottom: -1px;
	padding-top: 1px;
	padding-bottom: 1px;
}

nav.pagination a[href]:hover {
	background: #B20B4F;
}

nav.pagination a.ellipsis {
	margin-left: 30px;
}

nav.pagination a.ellipsis:before {
	content: "\00B7\00B7\00B7";
	color: rgba(0, 0, 0, 0.3);
	position: absolute;
	margin-left: -30px;
	padding-right: 10px;
	border-right: 1px solid rgba(0, 0, 0, 0.2);
}

nav.pagination div.pages {
	text-align: center;
	width: 500px;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -250px;
}

/* Tools */

ul.tools {
	box-sizing: border-box;
	position: absolute;
	top: 0.6rem;
	right: 10px;
}

footer ul.tools {
	position: relative;
	float: right;
	margin-right: -20px;
}

ul.tools:hover {
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

ul.tools li {
	list-style: none;
	float: left;
	font-size: 1.3rem;
	padding: 0 10px;
	background: #fff;
	border-top: 1px solid rgba(0, 0, 0, 0.2);
	border-left: 1px solid rgba(0, 0, 0, 0.2);
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	font-size: 1.3rem;
}

ul.tools li:first-child {
	border-radius: 2px 0 0 2px;
}

ul.tools li:last-child {
	border-radius: 0 2px 2px 0;
	border-right: 1px solid rgba(0, 0, 0, 0.2);
}

ul.tools li:hover {
	background: rgba(0, 0, 0, 0.015);
}

ul.tools a {
	color: #000;
}

ul.tools li.star {
	padding: 0 7px 0 10px;
}

ul.tools li.star:after {
	content: "\2605";
	padding-left: 3px;
	color: #ccc;
}

ul.tools li.star:hover:after {
	color: #000;
}

/* Headline tag */

h2 .tag {
	background: #92C44D;
	border: 1px solid #92C44D;
	display: inline-block;
	font-size: 1.3rem;
	line-height: 2.4rem;
	padding: 0 10px;
	border-radius: 2px;
	color: #fff;
	top: -0.3rem;
	position: relative;
	margin-left: 5px;
}
