/**
 * SYMPHONY FACTORY
 * A design framework for the Symphony Network
 *
 * @link http://symphonycms.github.com/factory/
 */

/*-----------------------------------------------------------------------------
	Grid
-----------------------------------------------------------------------------*/

#grid {
	display: none;
}

/* Toggle grid */

.show-grid a.show-grid:before {
	content: "Hide ";
}

/* Show grid */

.show-grid #grid {
	display: block;
	position: fixed;
	top: 0;
	left: 50%;
	margin-left: -520px;
	width: 1040px;
	height: 100%;
	pointer-events: none;
}

.show-grid #grid:after {
	content: " ";
	position: absolute;
	bottom: 0;
	left: 0;
	height: 25px;
	width: 100%;
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%,rgba(255, 255, 255, 1) 80%);
	background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 80%);
	background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%,rgba(255, 255, 255, 1) 80%);
	background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%,rgba(255, 255, 255, 1) 80%);
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%,rgba(255, 255, 255, 1) 80%);
}

/* Basics */

.show-grid #grid .module {
	background: rgba(196, 226, 205, 0.3);
	width: 82px;
	height: 100%;
	margin-left: 20px;
	box-sizing: border-box;
	border-left: 1px solid rgba(196, 226, 205, 0.8);
	border-right: 1px solid rgba(196, 226, 205, 0.8);
	position: relative;
	float: left;
}

.show-grid #grid .module:before {
	content: "82px";
	position: absolute;
	bottom: 0;
	font-size: 10px;
	color: rgba(0, 0, 0, 0.7);
	background: #EDF6F0;
	width: 100%;
	padding: 0 0 1em;
	box-sizing: border-box;
	z-index: 2000;
	text-align: center;
	border-top: 1px solid #B20B4F;
	border-left: 1px solid #CCE6D4;
	border-right: 1px solid #CCE6D4;
}

.show-grid #grid .module.double {
	width: 184px;
}

.show-grid #grid .module.double:before {
	content: "184px";
}

/* Fields */

.show-grid .field {
	border-top: 1px solid rgba(196, 226, 205, 0.8);
}

.show-grid .field:after {
	content: attr(class);
	position: absolute;
	top: 10px;
	right: 30px;
	width: 20px;
	font-size: 10px;
	font-weight: normal;
	text-transform: none;
	color: #fff;
	background: #B20B4F;
	padding: 0.1em 0.4em;
	border-radius: 2px;
	z-index: 1000;
	letter-spacing: 0;
}

/* Columns */

.show-grid .column {
	background: rgba(194, 234, 247, 0.5);
	border-top: 1px solid rgb(194, 234, 247);
	border-bottom: 1px solid rgb(194, 234, 247);
}

.show-grid .column:after {
	content: attr(class);
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 10px;
	font-weight: normal;
	text-transform: none;
	color: #fff;
	background: #0fbff7;
	padding: 0.1em 0.4em;
	border-radius: 2px;
	z-index: 1000;
	letter-spacing: 0;
}

/* Disable grid details for the network toolbar */

.show-grid #network .field {
	border: none;
}

.show-grid #network .field:after {
	content: "";
	position: relative;
	visibility: hidden;
}

.show-grid #network .column {
	background: none;
	border: none;
}

.show-grid #network .field:before,
.show-grid #network .column:before,
.show-grid #network .column:after {
	display: none;
}
